* {
  margin: 0px;
  padding: 0px;
}

.container {
  text-align: center;
  background-color: orange;
  color: white;
}

ul li {
  margin: 20px;
  font-size: 20px;
}

.img-styles {
  height: auto;
  width: 500px;
  margin-top: 10px;
}

.panipuri,
.desc-text,
.grilled-cheese,
.brownies {
  margin: 10px;
  border-radius: 20px;
}

.ol-text {
  margin-left: 25px;
}

.ing {
  list-style: square;
  font-size: 15px;
}

.subhead {
  font-size: 20px;
}
